:root {
  --primary-color: #f8f4f0;
  --secondary-color: #ff4c00;
  --a-color: #000;
  --grid-item--color: #d3d3d3;
  --sun-animation-first-color: #edc655;
  --sun-animation-second-color: #fcffad;
  --sun-animation-third-color: #f76414;
  --border-color: #0000004d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  padding: 0;
  margin: 0 100px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  text-align: center;
  font-size: 35px;
  line-height: 53px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}
h1,
h2,
h3 {
  font-weight: 700;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: var(--a-color);
}

a:hover,
a:focus,
#code-examples-link:hover {
  text-decoration: underline;
}

a:active,
#code-examples-link {
  color: var(--secondary-color);
}

.send-message-button,
.button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  margin-top: 15px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  display: inline-block;
  font-family: inherit;
  border-bottom: 2px solid var(--border-color);
  transition: 0.2s opacity;
}

.send-message-button:hover,
.send-message-button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

table {
  width: 100%;
}
td {
  text-align: center;
}

.navigation__logo {
  position: relative;
  width: 35px;
}

.profile,
.about-me,
.contact-section {
  max-width: 900px;
  margin: 50px auto;
  padding-bottom: 10px;
  text-align: center;
}

#about-picture {
  padding-top: 40px;
  max-width: 50%;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
}

.page-footer {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 10px;
}

.work-heading {
  text-align: center;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.social-media__link {
  text-decoration: none;
  margin: 10px;
}

.grid__item {
  background-color: var(--grid-item--color);
  padding: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: auto;
}

textarea {
  height: 150px;
  width: 400px;
  margin: auto;
  resize: none;
}

input {
  width: 300px;
  text-align: center;
  margin: auto;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 25px;
  }
  .profile__portrait {
    width: 200px;
    margin-right: 20px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  body {
    margin: 0;
    padding: 0;
  }
  .grid {
    grid-gap: 10px;
    grid-template-columns: 2fr 2fr;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.about-me ul {
  list-style: none;
  padding: 0;
}

@keyframes color-change {
  0% {
    fill: var(--sun-animation-first-color);
  }
  50% {
    fill: var(--sun-animation-second-color);
  }
  100% {
    fill: var(--sun-animation-third-color);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.navigation__logo {
  display: inline-block;
  margin: 0 0.5rem;

  animation: fadeInDown;
  animation-duration: 1s;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
.main-navigation {
  margin: 0 auto;
  text-align: center;
}

.main-navigation a {
  text-decoration: none;
  margin: 0 5px;
  padding: 10px 5px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.main-navigation a:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  content: "";
  background: var(--secondary-color);
  opacity: 0.3;
  transition: all 0.3s;
}

.main-navigation a:hover:before {
  height: 100%;
}
